.add-dpt-form {
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 50px auto;
}
.dpt-box1 {
  grid-column: 2/3;
}
.dpt-box2 {
  grid-row: 2/3;
}
.add-dpt-btn {
  grid-row: 3/4;
  width: 120px;
  margin-top: 10px;
}
.admin-dpt-edit-img img {
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
  width: 400px;
  border-radius: 5px;
}
.dpt-close {
  position: absolute;
  right: 50px;
  font-size: 25px;
}
